
html, body {
 background-color: grey;
}

.wrapper{
 text-align: center;
}

button {
background-color: skyblue;
border: solid 3px skyblue;
border-radius: 5px;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
-webkit-transition-duration: 0.4s;
 transition-duration: 0.4s;
}

button:hover {
  background-color: grey;

  border: solid 3px skyblue;
}
/*
I followed  bluecaret.com's tutorial to create
this responsive grid of scquares:
http://bluecaret.com/blog/responsive-grid-of-squares
*/
#container{
    margin: 0 auto;
    width: 80vw;
    max-width: 60vh;
    height: 80vw;
    max-height: 60vh;
    margin-top: 10%;
}

.row {
    display: flex;
}

.column {
    background: #ff6347;
    border: solid 1px grey;
    color: white;
    flex: 1 0 auto;
    position: relative;

}
.column:after {
    content: "";
    float:left;
    display: block;
    padding-top: 100%;

}

.colcolour {
background-color: skyblue;


}
